#gameEnded-wrapper {
	position:absolute;
	top:50%;
	left:50%;
	display: none;
	width: 200px;
}
#gameEnded {
	color: white;
	font-size: 200%;
	position: absolute;
	color: white;
	margin-left: -50%;
	margin-top:-50%;
	z-index: 1000;
}

#score {
	position:absolute;
	bottom: 10px;
	left:0px;
	color: white;
	width:100%;
	z-index: 1000;
	font-size: 24px;
}

canvas {
	position: absolute;
	z-index: 1;
}